body, html{
    background-color: #0088cc;
    margin: 0;
    width: 100%;
    height: 100%;
}
.container {
    height: 100%;
}
.row{
    height: 100%;
}
#femaleBTN {
    margin-top: 200px;
}

#maleBTN {
    margin-top: 200px;
}
#nextBTN{
    position: absolute;
    bottom:   20px;

}

.boxContainer {
    display: table;
}
.box {
    width: 1350px;
    height: 650px;
    background: #0088cc;
    padding: 2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    fontsize: "10"
}
.female {
    position:absolute;
    top:50px;
    left:1090px;
    width:250px;
    height:100px;
    line-height:30px;
    text-align:center;
    background:white;
}
.male {
    position:absolute;
    top:50px;
    left:25px;
    width:250px;
    height:100px;
    line-height:30px;
    text-align:center;
    background:white;
}